

header {
    padding: 10px;
    background-color: white;
}

#head {
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: rgba(252, 250, 250, 0.921);
}

.main {
    display: flex;
    justify-content: space-between;
}

.sub-main {
    display: flex;
}

img {
    border-radius: 50%;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/* .p {
    font-size: 10px;
}*/

.second,
.third {
    display: flex;
    padding: 20px;
    margin: 10px;
}

a {
    padding: 5px;
}

a:hover {
    box-shadow: 0px 0px 5px rgb(8, 124, 187);
    border-radius: 5px;
}

.H:hover {
    font-size: 20px;
}

.O:hover {
    font-size: 20px;
}

.V:hover {
    font-size: 20px;
}

.E:hover {
    font-size: 20px;
}

.R:hover {
    font-size: 20px;
}

#carouselExampleAutoplaying {
    padding: 50px;
}

#sociamedia {
    display: flex;
    gap: 50px;
}


.main-one {
    display: flex;
    justify-content: space-between;
}

.button01 {
    background: linear-gradient(rgb(8, 124, 187), white);
    border-radius: 8px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
}

.button01:active {
    border: 1px solid rgb(8, 124, 187);
    box-shadow: 0 0 5px rgb(26, 131, 236);
}

body {
    background:url(../assets/background01.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.body01 {
    background-color: rgba(254, 254, 254, 0.442);
    background-position: center;
    background-size:cover ;
    background-attachment: fixed;
    height: 500px;
}

.row {
    display: flex;
    height: max-content;
    height: 317px;
    justify-content: center;
    align-items: center;
    margin: 150px;

}


.column1 {
    background-size: cover;
    background-position: center;
;
}


h1 {
    text-align: center;
    color: #d2def5;
    padding: 20px;
}

section {
    text-align: center;

}

.option {
    text-decoration: none;
    background: linear-gradient(rgb(8, 124, 187), rgb(37, 237, 251));
    border-radius: 8px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
}

.option:active {
    border: 1px solid rgb(8, 124, 187);
    box-shadow: 0 0 0px rgb(26, 131, 236);
}

a {
    color: aliceblue;
}

input {
    border-radius: 0% 0%;
}

.typing-text {
    overflow: hidden;
    border-right: .15em solid rgb(253, 253, 252, 0); /* Adjust the color and thickness as needed */
    white-space: nowrap;
    margin: 0 auto;
    padding: 20px;
    font-family: monospace;
    font-size: 24px;
    animation: typing 5s steps(60, end) infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  